.basic {
  padding-top: 165px;

  @include sm {
    padding-top: 120px;
  }

  &__textbox {
    margin-left: 100px;
    margin-bottom: 26px;

    .heading {
      max-width: 945px;
    }

    &-author {
      display: flex;
      margin-bottom: 25px;
      text-transform: uppercase;
    }

    @include xs {
      margin-left: initial;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-textbox {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .text {
        max-width: 787px;
        margin-bottom: 26px;

        .heading {
          margin-top: 44px;
          margin-bottom: 17px;
        }

        .des {
          p {
            margin-bottom: 30px;
          }
        }
      }

      .lorem {
        width: 83%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 80px 68px;
        aspect-ratio: 994/274;
        background: var(--blue-hover-cl);
        border-radius: 40px;

        @include xs {
          width: 100%;
        }
      }
    }
  }
}

.subdetail {
  height: 278px;
  background: var(--blue-cl);
  display: flex;
  align-items: center;

  @include sm {
    height: 521px;
  }

  &__item {
    display: grid;
    // justify-content: center;
    align-items: center;

    @include sm {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-textbox {
      grid-column: 1/7;
      display: flex;

      @include sm {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          max-width: 68px;
          max-height: 68px;
        }
      }

      .heading {
        max-width: 572px;
        margin-left: 21px;
      }
    }

    &-btn {
      grid-column: 8/13;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 8px 8px 8px 16px;
      width: 480px;
      height: 80px;
      // aspect-ratio: 100/10;
      background: #ffffff;
      border: 2px solid #ffffff;
      border-radius: 100px;

      input {
        outline: none;
        width: 60%;

        @include xs {
          width: 100%;
        }
      }

      a {
        position: absolute;
        right: 36px;

        @include sm {
          right: 226px;
        }

        @include xs {
          right: 150px;
        }

        @include xxs {
          right: 50px;
        }
      }

      @include xxxs {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
          right: 15px;
          margin-top: 180px;
          background-color: var(--blue-hover-cl);
          width: 92%;
        }
      }
    }
  }
}

.postdetail {
  padding-top: 120px;
  padding-bottom: 120px;

  @include xs {
    padding-top: 50px;
  }

  &__textbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;

    @include xs {
      display: flex;
      flex-direction: column;
    }

    &-tab {
      background: rgba(255, 255, 255, 0.1);

      @include xxs {
        width: 100%;
      }

      a {
        color: var(--white-cl);
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    @include sm {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    &-item {
      position: relative;
      overflow: hidden;

      @include xs {
        margin-bottom: 20px;
      }

      @include xxs {
        max-height: 580px;
        margin-bottom: 20px;
        max-width: 345px;
      }

      .img {
        position: relative;
        overflow: hidden;
        aspect-ratio: 382/215;

        img {
          @include mid;
          min-width: 101%;
          min-height: 101%;
          object-fit: cover;
          transition: 0.4s;

          &:hover {
            transform: translate(-50%, -50%) scale(1.1);
          }
        }
      }

      .btn__product {
        top: 196px;
        position: absolute;
        left: 20px;
        margin-bottom: 20px;

        a {
          cursor: pointer;
          max-width: 109px;
          max-height: 36px;
          padding: 9px 14px 9px 14px;
          font-family: dms;
          font-size: var(--text-tag);
          line-height: var(--lh-tag);
          letter-spacing: var(--ls-tag);
          color: var(--white-cl);
        }
      }

      .info {
        padding: 50px 20px 30px 30px;

        .textbox {
          margin-bottom: 60px;

          .heading {
            margin-bottom: 20px;
            max-width: 320px;

            a {
              color: var(--white-cl);
            }
          }

          .des {
            position: relative;
            max-width: 329px;

            &::after {
              position: absolute;
              content: "";
              width: 320px;
              height: 1px;
              bottom: -30px;
              left: 0;
              background: rgba(255, 255, 255, 0.1);
            }
          }
        }
      }
    }
  }
}
